body{
  background-image: url("https://i.ibb.co/2N6F0xJ/IMG-20211125-221755.jpg");
   background-size: 300%;
  background-repeat: no-repeat;
  background-attachment: fixed;


}
  
  .container{
Margin: 50px;
Padding: 10px;
Position: relative;
text-align: left;
color: white;
Font-size: 20px;
Font-family: fantacy;
}

 h1{
text-align: center;
}

  .box-container{
    text-align: center;
    display: grid;
    padding: 10px,10px,10px,10px;
    
  }  

  *{
  font-family: 'poppins',sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}  
